body {
    font: 16px Lato, "Open Sans", Tahoma;
    color: #333;
}

.navbar {
    background: #FFF;
    box-shadow: 0 0 20px #F1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.2em;
    .nav-link {
        text-transform: uppercase;
    }
}

main {
    margin: 50px 0;
}

.footer {
    background: #222;
    color: #FFF;
}